* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #242424;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #4e4e4e;
}

.title{
    color: white;
    padding-left: 40px;
    font-size: 40px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}